.section-contact {
  margin-top: 40px;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  border-radius: 45px;
  overflow: hidden;
  padding: 20px 0;
}
   form {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    width: 100%;
    & input,
    & textarea {
      font-family: "urbanist";
      color: #000;
      padding: .5rem 1rem;
      border-radius: 0.6rem;
       width: 100%;
    }
  }

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 50px 100px;
}
.form-control{
  width: 100%;
}
@media screen and (max-width: 700px) {
  .contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 0 50px;
}

}