.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}
.navlinksContainer{
    display: flex;
    align-items: center;
    gap: 6vw;
    color: black;
}
.navlinksContainer > li{
    list-style-type: none;
}
.navlinksContainer >li > a{
    color: black;
    text-decoration: none;
}
.navbar{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-icon{
    width: 36px;
}
.company-name{
    width: 170.62px;
}
.footerNav > li > a{
    color: white;
    text-decoration:underline;
}
