.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}
.navlinksContainer{
    display: inline-flex;
    align-items: center;
    gap: 5vw;
    color: black;
}
.navlinksContainer > li{
    list-style-type: none;
}
.navlinksContainer >li > a{
    color: black;
    text-decoration: none;
}
.navbar{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-icon{
    width: 36px;
}
.company-name{
    width: 170.62px;
}
.footerNav > li > a{
    color: white;
    text-decoration:underline;
}
.nav-btn >  p{
    display: none;
}
@media screen and (max-width: 920px) {
.nav-btn > p{
    display: block;
    font-size: 50px;
    cursor: pointer;
}
.navlinksContainer > li{
    display: none;
}
.nav-btn button{
    display: none;
}

}