.letar{
  max-width: 55rem;
  border: 0;
  width: 100%;
  display: flex;
  margin-inline: auto;
  gap: 10px;
}
.services{
    padding-inline: 5vw;
}



.card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.2rem;
}

.card{
  /* border: 2px solid black; */
  /* background: gray; */
  /* background-clip: padding-box; */
  background-color: #F3F3F3;
  border-radius: 45px;
  padding: 30px;
  width: 650px;
  height: 300px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}