.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 5px 0px;
}
.links > a{
    text-decoration: none;
}
.links{
    display: flex;
    gap: 7vw;
}